//
// _card.scss
//

.card {
    margin-bottom: $grid-gutter-width;
    box-shadow: $box-shadow;
    border: 0px solid var(--#{$prefix}border-color);
}

.card-drop {
    font-size: 20px;
    line-height: 0;
    color: inherit;
}

.card-title {
    font-size: 16px;
    margin: 0 0 7px 0;
    font-weight: $font-weight-medium;
}

.card-title-desc {
    // color: $card-title-desc;
    margin-bottom: 24px;
}

.card-h-100 {
    height: calc(100% - #{$grid-gutter-width});
}
