// 
// _pagination.scss
// 

// Pagination rounded (Custom)
.pagination-rounded {
    .page-link {
        margin: 0 3px;
        border: none;
        text-align: center;
        height: 35px;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
       
    }
}
.page-link {

    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
   
}