//
// _table.scss
//

// .table {
//   th {
//       font-weight: $font-weight-bold;
//   }
// }

// //Table centered
// .table-centered {
//   td,th {
//       vertical-align: middle !important;
//   }
// }

// .table-nowrap {
//   th, td {
//     white-space: nowrap;
//   }
// }

// .table-bordered {
//   border: $table-border-width solid $table-border-color;

//   th,
//   td {
//     border: $table-border-width solid $table-border-color;
//   }
// }

.table-dark > :not(:last-child) > :last-child > * {
  border-bottom-color: $table-dark-border-color;
  color: #fff!important;
}
.table-dark{
  background-color: #2a323c !important;
}

.table > thead > tr > th {
  border-bottom: 2px solid $table-border-color;
  color: var(--#{$prefix}emphasis-color) !important;
}
.table>:not(caption)>*>* {
  background-color: var(--#{$prefix}table-bg) !important;

}

.table {
  th {
    font-weight: $table-th-font-weight;
  }

  .table-light {
    color: var(--#{$prefix}body-color);
    border-color: $table-border-color;
    background-color: var(--#{$prefix}table-head-bg);
  }
}

.table-bordered {
  border: $table-border-width solid $table-border-color;
}
.table > :not(:first-child) {
  border-top: 0;
}

.table-nowrap {
  th,
  td {
    white-space: nowrap;
  }
}

.table-responsive {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 12px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($dark, 0.2);
    border-radius: 10px;
    border: 2px solid $white;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $white;
  }
}
